<div class="row container mt-4">
    <div class="col-3">
        <h2>busqueda</h2>
        <hr>
        <ul class="list-group ">
            <li class="list-group-item ">
                buscar país
            </li>
            <li class="list-group-item">
                buscar region
            </li>
            <li class="list-group-item">
                buscar capital
            </li>
        </ul>
    </div>
    <div class="col">
        <app-por-capital></app-por-capital>
    </div>

</div>